/* CSS declarations go here */
.equal, .plus {
  font-size: 50px;
}
.equal {
  font-size: 30px;
  margin-top: 10px;
}
.alternative,
.big {
  font-size: 35px;
}

ul, li {
    list-style-type: none;
}

.answers {
  float:right;
}
.answer {
  font-size: 50px;

}
.right{
  color: white;
  background-color: green;
}
.wrong{
  color: white;
  background-color: red;
}
.mini{
  width: 32px;
  height: 32px;
}
.levels{
  position: fixed;
  right: 0px;
  top: 0px;
}
